* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

#bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    color: white;
    width: 90%;
    top: 50px;
    margin-bottom:90px;
    text-align: center;
}


.content h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 1px;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(200, 200, 200, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


input {
    position: absolute;
    top: 130px;
    left: 70px;
    height: 14%;
    width: 60%;
    background-color: rgb(60, 60, 60);
    color: #ffffff;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
    box-shadow: 0 0 2px white;
    transition: all 0.3s ease;
    font-style: normal;
}

input::placeholder {
    color: #ffffff;
    opacity: 0.7;
    font-style: italic;
}

input:focus {
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 10px #ffffff;

    transform: scale(1.05);
}

svg {
  width: 20px;
  height: 20px;
}

button {
    background-color: #237aa7;
    position: absolute;
    width: 8%;
    height: 14%;
    left: 440px;
    top: 130px;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 0 2px white;
    transition: all 0.3s ease;
}

button:focus {
    outline: none;
    box-shadow: 0 0 10px #ffffff;
}

button:hover {
    background-color: #237aa7;
    border-color: #ffffff;
    color: #ffffff;
    box-shadow: 0 0 10px #ffffff;

    transform: scale(1.1);
}

