<!DOCTYPE html>
<html>
<head>
    <title>ExamSystem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="video-container">
        <video autoplay muted loop id="bg-video">
            <source src="{{ url_for('static', filename='Video1_fixed.mp4') }}" type="video/mp4">
        </video>
    </div>


    <form action="/choose_role" method="post">
        <select name="role" id="role" required>
            <option value="teacher">Teacher</option>
            <option value="student">Student</option>
        </select>
        <input type="text" name="name" placeholder="Your Name" required>
        <button type="submit">Confirm</button>
    </form>
</body>
</html>